<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:aop="http://www.springframework.org/schema/aop"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		                http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                        http://www.springframework.org/schema/data/couchbase
                        http://www.springframework.org/schema/data/couchbase/spring-couchbase.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">



    <context:component-scan base-package="com.*" />

    <beans:bean id="cacheBucketConnector" class="com.tmoncorp.api.dealinfo.connector.CouchBaseConnector" destroy-method="disconnect">
        <beans:constructor-arg name="serverNodeList" value="es-deal-qa.tmonc.net:8091"/>
        <beans:constructor-arg name="bucketName" value="cache"/>
        <beans:constructor-arg name="bucketPassword" value="cbadmin!!"/>
        <beans:constructor-arg name="keyValueNodeCount" value="2"/>
        <beans:constructor-arg name="n1qlNodeCount" value="2"/>
        <beans:constructor-arg name="environment" value="local"/>
    </beans:bean>

    <aop:aspectj-autoproxy />




</beans:beans>